<template>
  <div clas="<%= pageName -%>">
    <%= pageName %>
  </div>
</template>

<script setup lang="ts">

</script>

<<<<<<< HEAD
<style lang="scss" scoped>
=======
<style <%- isScss _%> scoped>
>>>>>>> 6a5421b6d689a18028cb9109d022695442b043c2
  
</style>
