{
    "useTabs": false,
    "tabWidth": 2,
    "printWidth": 300,
    "singleQuote": true,
    "trailingComma": "none",
    "bracketSpacing": true,
    "htmlWhitespaceSensitivity": "ignore",
    "semi": false
  }